---
layout: default
---
  
    {% include nav.html %}
  
    <!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
      <header class="clearfix">
                    <h1><!--img src="assets/img/nyhaskell.png" /--></h1>
                    <p><b>NY Haskell Users Group</b></p>
            <p>A community of haskell developers</p>
        </header>     
      </div><!-- /headerwrap -->

    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
      <div class="row">
        <div class="col-lg-4 callout">
          <span class="icon icon-stack"></span>
          <h2>Join our mailing list</h2>
                    <p>Visit our <a href="http://meetup.com/ny-haskell">meetup page</a> to get notified of upcoming events. </p>
        </div><!-- col-lg-4 -->
          
        <div class="col-lg-4 callout">
          <span class="icon icon-youtube"></span>
          <h2>Videos</h2>
                    <p>Our <a href="https://www.youtube.com/channel/UCzNYHE7Kj6pBqq5h8LG9Zcg">youtube channel</a> contains recently recorded talks from our events. </p>
        </div><!-- col-lg-4 --> 
        
        <div class="col-lg-4 callout">
          <span class="icon icon-heart"></span>
          <h2>Crafted with Love</h3>
          <p>Learn to code in Haskell!</p>
        </div><!-- col-lg-4 --> 
      </div><!-- row -->
    </div><!-- greywrap -->
    
    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">A LITTLE ABOUT OUR GROUP</h1>
        <hr>
        
        <div class="col-lg-6 col-lg-offset-2">
          <p>The NY Haskell Users Group is for all programmers either interested in or experienced with the Haskell programming language. We want to build a community of Haskell developers in the New York area that can share knowledge, projects, and experience, and to generally foster and encourage strongly typed functional programming, in all languages, all settings, and all industries. Our events center around talks, but we have also hosted social hours, code workshops, and a hackathon. Regular meetings are on the fourth wednesday of each month.</p>
        </div><!-- col-lg-6 -->
        
        <div class="col-lg-4">
          <p></p>
           <img src="assets/img/nyhaskell.png" class="img-responsive" width="200"/>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
    
    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1></h1>
        <hr>
        <p></p>
      </div><!-- container -->
    </section><!-- section -->
    
    
    <!-- ==== SERVICES ==== -->
    <div class="container" id="events" name="services">
      <br>
      <br>
      <div class="row">
        <h2 class="centered">Events</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8 centered">
          <p>
          We have talks every fourth Wednesday; our next event is April 27th, 2016 at 7pm. <br />Details will be announced soon.
          </p>
          <!-- <p><a href="http://www.meetup.com/NY-Haskell/events/229615869/" data-event="229615869" class="mu-rsvp-btn">RSVP</a></p> -->
          <p></p>
          <p></p>
        </div><!-- col-lg -->
      </div><!-- row -->
      
      <div class="row">
        <h4 class="centered">Our recurring events are <a href="http://meetup.com/NY-Haskell">posted on meetup</a></h4>
        <br>
      </div><!-- row -->

      <div class="row">
        <h3 class="centered">Online Community</h3>
        <hr>
        <br>
        <div class="col-lg-offset-3 col-lg-6 centered">
          <p class="text-centered">
          Come chat with us in our new <a href="http://ny-haskell.org/slack">slack team</a>!  Over 15 haskellers have already joined our team, chatting about the latest tools and news in the haskell world and the projects they're working on. To join our team visit our <a href="http://ny-haskell.org/slack">Slack invite page</a> and we'll send you an invitation!
        </p>
        </div>
      </div><!-- row -->
    </div><!-- container -->
      

    <!-- ==== SECTION DIVIDER3 -->
    <section class="section-divider textdivider divider2">
      <div class="container">
        <h1></h1>
        <p>.</p>
      </div><!-- container -->
    </section><!-- section -->

    <!-- ==== TEAM MEMBERS ==== -->
    <div class="container" id="team" name="team">
    <br>
      <div class="row white centered">
        <h1 class="centered">Organizers</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-122 centered">
          <h4><b>Gershom Bazerman</b>, <b>Doug Beardsley</b>, 
          <b>Evie Brothwick</b>, <b>Kat Chuang</b>, <b>Ozgun Ataman</b>,
          <b>Rick Minerich</b>, <b>Ryan Trinkle</b></h4>
          <p>&nbsp;</p>
        </div><!-- col-lg-3 -->

      </div><!-- row -->
    </div><!-- container -->

    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 centered">
            <img class="img-responsive" src="assets/img/nyhaskell.png" align="right">
          </div>
          <div class="col-lg-6">
            <h2>Want to volunteer with us?</h2>
            <p>Do you want to help us nurture the haskell community?</p>
            <p><a class="btn btn-success" href="mailto:info@ny-haskell.org">Contact Us</a></p>
          </div>          
        </div><!-- row -->
      </div>
      <br>
      <br>
    </div><!-- greywrap -->
    
    <!-- ==== SECTION DIVIDER3 -->
    <section class="section-divider textdivider divider3">
      <div class="container">
        <h1>Functional Programming </h1>
        <hr>
        <p></p>
      </div><!-- container -->
    </section><!-- section -->
    
    <!-- ==== VIDEOS ==== -->
    <div class="container" id="videos" name="portfolio">
    <br>
      <div class="row">
        <br>
        <h1 class="centered">WE CREATE COOL STUFF</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      <div class="container">
      <div class="row"> 
      {% for video in site.data.videos.talks %}
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="grid mask">
          <figure>
            <img class="img-responsive" src="http://img.youtube.com/vi/{{video.youtubeId}}/hqdefault.jpg" alt="">
            <figcaption>
              <a data-toggle="modal" href="#{{video.modal}}" class="btn btn-link btn-lg">
                <h5>{{video.title}}</h5>
              </a>
            </figcaption><!-- /figcaption -->
          </figure><!-- /figure -->
          </div><!-- /grid-mask -->
        </div><!-- /col -->
      {% endfor %}
    </div><!-- /row -->

      {% for video in site.data.videos.talks | reverse  %}
        <div class="modal fade" id="{{video.modal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{video.title}}</h4>
              </div>
              <div class="modal-body">
                <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.youtubeId}}" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>
                  <b>{{video.title}}</b>, by {{video.speaker.name}}
                </p>
                <p><b>Abstract:</b> <br/>{{video.abstract }}</p>
                <p><b>Bio:</b> {{video.bio }}</p>
                {% if video.slides_url != "" %}
                <p><b><a href="{{video.slides_url}}">Slides</a></b></p>
                {% endif %}
                {% if video.reddit_url %}
                <p><b><a href="{{video.reddit_url}}">Discussion on Reddit</a></b></p>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      {% endfor %}


      <br>
      <br>
    </div><!-- /row -->
  </div><!-- /container -->

    <!-- ==== SECTION DIVIDER4 ==== -->
    <section class="section-divider textdivider divider4">
      <div class="container">
        <h1>Haskell</h1>
        <hr>
        <p>An advanced purely-functional programming language</p>
      </div><!-- container -->
    </section><!-- section -->
    
    <!-- ==== BLOG ==== -->
    <div class="container" id="blog" name="blog">
    <br>
      <div class="row">
        <br>
        <h1 class="centered">NY Haskell Blog</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      
      <div class="row">
      {% for post in site.posts %}
        <div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <p>
            {% if authoremail != "" %}
            <img class="img img-circle" src="{{ post.authoremail | to_gravatar:80 }}" />
            {% endif %}
            </p>
            <h4><a href="{{ post.authorurl }}">{{ post.author }}</a></h4>
            <h5>Published {{ post.date | date: '%h %-d, %I:%M%P' }}.</h5>
          </div>
          <div class="col-lg-8 blog-content">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <p></p>
            <p><a href="{{ post.url }}" class="icon icon-link"> Read More</a></p>
            <br>
          </div>
        </div><!-- /col -->
        
        <!--div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <p><img class="img img-circle" src="" width="60px" height="60px"></p>
            <h4>Author</h4>
            <h5>Published MMDD.</h5>
          </div>
          <div class="col-lg-8 blog-content">
            <h2>Your Title Here</h2>
            <p>Want to see your article here? Contact us today.</p>
            <p></p>
            <p><a href="#" class="icon icon-link"> Read More</a></p>
            <br>
          </div>
        </div--><!-- /col -->
        {% endfor %}
      </div><!-- /row -->
      <br>
      <br>
    </div><!-- /container -->

    
    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>CRAFTED IN NEW YORK, USA.</h1>
        <hr>
        <p>ny-haskell | 
                <a class="icon icon-github" href="http://github.com/ny-haskell"></a> | <a class="icon icon-youtube" href="https://www.youtube.com/channel/UCzNYHE7Kj6pBqq5h8LG9Zcg"></a> </p>
      </div><!-- container -->
    </section><!-- section -->
    
    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
          <h3>Contact Information</h3>
            <span class="icon icon-envelop"></span> <a href="#"> info@ny-haskell.org</a> <br/>
            <span class="icon icon-github"></span> <a href="http://github.com/ny-haskell">ny-haskell</a> <br/>
            <span class="icon icon-youtube"></span> <a href="https://www.youtube.com/channel/UCzNYHE7Kj6pBqq5h8LG9Zcg">ny-haskell</a> <br/>
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <!--h3>Newsletter</h3>
          <p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
          <p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="text1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="text1" placeholder="Your Name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
              </div>
             </form--><!-- form -->
          <!-/p-->
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>Support Us</h3>
          <p>We are a registered non-profit group. Your donations are tax-deductible. To get more information about this, please contact us.</p>
        </div><!-- col -->

      </div><!-- row -->
    
    </div><!-- container -->
    {% include footer.html %}


