---
layout: default
---
  
    {% include nav.html %}

    {% include _hero.html %}

    
    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1></h1>
        <hr>
        <p></p>
      </div><!-- container -->
    </section><!-- section -->
    
    {% include _about.html %}


    <!-- ==== SECTION DIVIDER3 -->
    <section class="section-divider textdivider divider2">
      <div class="container">
        <h1></h1>
        <p>.</p>
      </div><!-- container -->
    </section><!-- section -->
    {% include _events.html %}


    {% include _team.html %}

    
    <!-- ==== SECTION DIVIDER3 -->
    <section class="section-divider textdivider divider3">
      <div class="container">
        <h1>Functional Programming </h1>
        <hr>
        <p></p>
      </div><!-- container -->
    </section><!-- section -->
    
    <!-- ==== VIDEOS ==== -->
    <div class="container" id="videos" name="portfolio">
    <br>
      <div class="row">
        <br>
        <h1 class="centered">WE CREATE COOL STUFF</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      <div class="container">
      <div class="row"> 
      {% for video in site.data.videos.talks %}
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="grid mask">
          <figure>
            <img class="img-responsive" src="http://img.youtube.com/vi/{{video.youtubeId}}/hqdefault.jpg" alt="">
            <figcaption>
              <a data-toggle="modal" href="#{{video.modal}}" class="btn btn-link btn-lg">
                <h5>{{video.title}}</h5>
              </a>
            </figcaption><!-- /figcaption -->
          </figure><!-- /figure -->
          </div><!-- /grid-mask -->
        </div><!-- /col -->
      {% endfor %}
    </div><!-- /row -->

      {% for video in site.data.videos.talks | reverse  %}
        <div class="modal fade" id="{{video.modal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{video.title}}</h4>
              </div>
              <div class="modal-body">
                <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.youtubeId}}" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>
                  <b>{{video.title}}</b>, by {{video.speaker.name}}
                </p>
                <p><b>Abstract:</b> <br/>{{video.abstract }}</p>
                <p><b>Bio:</b> {{video.bio }}</p>
                {% if video.slides_url != "" %}
                <p><b><a href="{{video.slides_url}}">Slides</a></b></p>
                {% endif %}
                {% if video.reddit_url %}
                <p><b><a href="{{video.reddit_url}}">Discussion on Reddit</a></b></p>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      {% endfor %}


      <br>
      <br>
    </div><!-- /row -->
  </div><!-- /container -->

    <!-- ==== SECTION DIVIDER4 ==== -->
    <section class="section-divider textdivider divider4">
      <div class="container">
        <h1>Haskell</h1>
        <hr>
        <p>An advanced purely-functional programming language</p>
      </div><!-- container -->
    </section><!-- section -->
    
    <!-- ==== BLOG ==== -->
    <div class="container" id="blog" name="blog">
    <br>
      <div class="row">
        <br>
        <h1 class="centered">NY Haskell Blog</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      
      <div class="row">
      {% for post in site.posts %}
        <div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <p>
            {% if post.gravatar != "" %}
              <img class="img img-circle" src="http://www.gravatar.com/avatar/{{ post.gravatar}}?s=80" />
            {% endif %}
            </p>
            <h4><a href="{{ post.authorurl }}">{{ post.author }}</a></h4>
            <h5>Published {{ post.date | date: '%h %-d, %I:%M%P' }}.</h5>
          </div>
          <div class="col-lg-8 blog-content">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <p></p>
            <p><a href="{{ post.url }}" class="icon icon-link"> Read More</a></p>
            <br>
          </div>
        </div><!-- /col -->
        
        <!--div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <p><img class="img img-circle" src="" width="60px" height="60px"></p>
            <h4>Author</h4>
            <h5>Published MMDD.</h5>
          </div>
          <div class="col-lg-8 blog-content">
            <h2>Your Title Here</h2>
            <p>Want to see your article here? Contact us today.</p>
            <p></p>
            <p><a href="#" class="icon icon-link"> Read More</a></p>
            <br>
          </div>
        </div--><!-- /col -->
        {% endfor %}
      </div><!-- /row -->
      <br>
      <br>
    </div><!-- /container -->

    
    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>CRAFTED IN NEW YORK, USA.</h1>
        <hr>
        <p>ny-haskell | 
        <a class="icon icon-github" href="http://github.com/ny-haskell"></a> | <a class="icon icon-youtube" href="https://www.youtube.com/channel/UCzNYHE7Kj6pBqq5h8LG9Zcg"></a> </p>
      </div><!-- container -->
    </section><!-- section -->
    
    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
          <h3>Contact Information</h3>
            <span class="icon icon-envelop"></span> <a href="#"> info@ny-haskell.org</a> <br/>
            <span class="icon icon-github"></span> <a href="http://github.com/ny-haskell">ny-haskell</a> <br/>
            <span class="icon icon-youtube"></span> <a href="https://www.youtube.com/channel/UCzNYHE7Kj6pBqq5h8LG9Zcg">ny-haskell</a> <br/>
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <!--h3>Newsletter</h3>
          <p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
          <p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="text1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="text1" placeholder="Your Name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
              </div>
             </form--><!-- form -->
          <!-/p-->
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>Support Us</h3>
          <p>We are a registered non-profit group. Your donations are tax-deductible. To get more information about this, please contact us.</p>
        </div><!-- col -->

      </div><!-- row -->
    
    </div><!-- container -->
    {% include footer.html %}


