---
layout: default
---
  
    {% include nav.html %}

    {% include _hero.html %}

    {% include _about.html %}

    <!-- ==== SECTION DIVIDER -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1></h1>
        <p></p>
        <p></p>
        <p></p>
      </div><!-- container -->
    </section><!-- section -->


    {% include _events.html %}

    {% include _team.html %}
    
    {% include _videos.html %}
    
    <!-- ==== SECTION DIVIDER4 ==== -->
    <section class="section-divider textdivider divider3">
      <div class="container">
        <h1>Functional Programming</h1>
        <hr>
        <p>Haskell is an advanced purely-functional programming language</p>
      </div><!-- container -->
    </section><!-- section -->
    
    {% include _blog.html %}
  
    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>CRAFTED IN NEW YORK, USA.</h1>
        <hr>
        <p>ny-haskell | 
        <a class="icon icon-github" href="http://github.com/ny-haskell"></a> | <a class="icon icon-youtube" href="https://www.youtube.com/channel/UCzNYHE7Kj6pBqq5h8LG9Zcg"></a> </p>
      </div><!-- container -->
    </section><!-- section -->
    
    {% include _contact.html %}
    

    {% include footer.html %}


