<div class="container" id="contact" name="contact">
  <div class="row">
  <br>
    <h1 class="centered">THANKS FOR VISITING US</h1>
    <hr>
    <br>
    <br>
    <div class="col-lg-4">
      <h3>Contact Information</h3>
        <span class="icon icon-envelop"></span> <a href="#"> info@ny-haskell.org</a> <br/>
        <span class="icon icon-github"></span> <a href="http://github.com/ny-haskell">ny-haskell</a> <br/>
        <span class="icon icon-youtube"></span> <a href="https://www.youtube.com/channel/UCzNYHE7Kj6pBqq5h8LG9Zcg">ny-haskell</a> <br/>
      </p>
    </div><!-- col -->
    
    <div class="col-lg-4">
      <!-- <h3>Newsletter</h3>
      <p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
      <p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-4 control-label"></label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="text1" class="col-lg-4 control-label"></label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="text1" placeholder="Your Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10">
              <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
          </div>
         </form><!- form -->
      <!--/p> -->
    </div><!-- col -->
    
    <div class="col-lg-4">
      <h3>Support Us</h3>
      <p>We are a registered non-profit group. Your donations are tax-deductible. To get more information about this, please contact us.</p>
    </div><!-- col -->

  </div><!-- row -->

</div><!-- container -->