<!-- ==== EVENTS ==== -->
<div class="container" id="events" name="events">
  <br>
  <br>
  <div class="row">
    <h2 class="centered">Events</h2>
    <hr>
    <br>
    <div class="col-lg-offset-2 col-lg-8 centered">
      <p>
      We have talks every fourth Wednesday; our next event is on October 26th, 2016 at 7pm. <br />
      Details <a href = "http://www.meetup.com/NY-Haskell/events/234761999/">here</a>.
      </p>
      <p><a href="http://www.meetup.com/NY-Haskell/events/234761999/" class="mu-rsvp-btn">RSVP</a></p>
      <p></p>
      <p></p>
    </div><!-- col-lg -->
  </div><!-- row -->
  
  <div class="row">
    <h4 class="centered">Our recurring events are <a href="http://meetup.com/NY-Haskell">posted on Meetup</a></h4>
    <br>
  </div><!-- row -->
</div><!-- container -->

<div id="eventsaction">

<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-4 callout">
      <div class="icon-box">
        <h2><span class="icon icon-pushpin"></span> Sign up</h2>
        <p>Our recurring events are posted on the <a href="http://meetup.com/ny-haskell">meetup</a>, sign up to get notified of upcoming events and save your seat for the event.</p>
      </div>
    </div><!-- col-lg-4 -->
      
    <div class="col-lg-4 col-md-4 callout">
      <div class="icon-box">
        <h2><span class="icon icon-lamp"></span> Workshops</h2>
        <p>Beginner friendly workshops are in the works. Check back soon!</p>
      </div>
    </div><!-- col-lg-4 --> 
    
    <div class="col-lg-4 col-md-4 callout">
      <div class="icon-box">
        <h2><span class="icon icon-bubble-quote"></span> Online Community</h3>
        <p>Come chat with us in our new <a href="http://ny-haskell.org/slack">slack team</a>!  Visit our <a href="http://ny-haskell.org/slack">Slack invite page</a> and we'll send you an invitation!</p>
      </div>
    </div><!-- col-lg-4 --> 
  </div><!-- row -->
</div>
</div>
