<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="team" name="team">
<br>
  <div class="row white centered">
    <h1 class="centered">Organizers</h1>
    <hr>
    <br>
    <br>
    <div class="col-lg-122 centered">
      <h4><b>Gershom Bazerman</b>, <b>Doug Beardsley</b>, 
      <b>Evie Borthwick</b>, <b>Kat Chuang</b>, <b>Ozgun Ataman</b>,
      <b>Rick Minerich</b>, <b>Ishaq Sloan</b>, <b>Ryan Trinkle</b></h4>
      <p>&nbsp;</p>
    </div><!-- col-lg-3 -->

  </div><!-- row -->
</div><!-- container -->

<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
  <div class="container">
    <div class="row">
      <br/><br/>
      <div class="col-lg-6 col-me-6 centered">
        <img class="img-responsive" src="assets/img/nyhaskell.png" align="right">
      </div>
      <div class="col-lg-6 col-me-6">
        <br/>
        <h2>Want to volunteer with us?</h2>
        <p>Do you want to help us nurture the haskell community? <br/> Send us an email to info [at] ny-haskell [dot] org</p>
        <p><a class="btn btn-success" href="mailto:info@ny-haskell.org">Contact Us</a></p>
      </div>          
    </div><!-- row -->
  </div>
  <br>
  <br>
</div><!-- greywrap -->
