.navbar-inverse{
  background: #FFFFFF;
  border-color: #dddddd;
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  height: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 25px;
  font-weight: 600;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus{
  color: #000;
}

#eventsaction{
  padding: 60px 0;
  background: #f7f7f7;
}

#eventsaction .icon-box {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    text-align: center;
}


#headerwrap .form{
  /*background: rgba(90,90,90,0.7);*/
  padding: 80px 20px;
  background: rgba(0, 200, 200, 0.7);
  background: -moz-linear-gradient(left, rgba(0, 170, 170, 0.8) 0%, rgba(0, 200, 200, 0.7) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 170, 170, 0.8)), color-stop(100%, rgba(0, 200, 200, 0.7)));
  background: -webkit-linear-gradient(left, rgba(0, 170, 170, 0.8) 0%, rgba(0, 200, 200, 0.7) 100%);
  background: -o-linear-gradient(left, rgba(0, 170, 170, 0.8) 0%, rgba(0, 200, 200, 0.7) 100%);
  background: -ms-linear-gradient(left, rgba(0, 170, 170, 0.8) 0%, rgba(0, 200, 200, 0.7) 100%);
  background: linear-gradient(to right, rgba(0, 170, 170, 0.8) 0%, rgba(0, 200, 200, 0.7) 100%);
}

/* purple
#headerwrap .form{
  background: rgba(90,90,90,0.7); //rgb(0, 170, 170)
  padding: 80px 20px;
  background: rgba(25, 17, 31, 0.7);
  background: -moz-linear-gradient(left, rgba(25, 17, 31, 0.7) 0%, rgba(44, 30, 55, 0.7) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(25, 17, 31, 0.7)), color-stop(100%, rgba(44, 30, 55, 0.7)));
  background: -webkit-linear-gradient(left, rgba(25, 17, 31, 0.7) 0%, rgba(44, 30, 55, 0.7) 100%);
  background: -o-linear-gradient(left, rgba(25, 17, 31, 0.7) 0%, rgba(44, 30, 55, 0.7) 100%);
  background: -ms-linear-gradient(left, rgba(25, 17, 31, 0.7) 0%, rgba(44, 30, 55, 0.7) 100%);
  background: linear-gradient(to right, rgba(25, 17, 31, 0.7) 0%, rgba(44, 30, 55, 0.7) 100%);
}
*/

.social {
    margin: 20px 0 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social li {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.25rem;
    line-height: 1;
}

.social a {
    color: #fff;
}

.social a .icon {
    width: 1em;
    height: 1em;
}

#footerwrap {
  padding: 60px 0;
}
#footerwrap small, #footerwrap .small {
    font-size: 85%;
    color: #fff;
}